*{
    margin: 0;
    padding: 0;
}

.container
{
    margin: 1% ;
    width: 100%;
    height: 100%;
    background: #666666;
}

.fondo
{
    background: red;
    width:100%;
    height: 100%;

}

nav
{
    margin: auto;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav ul 
{
    padding: 2%;
    background: #666666 ;      
}
nav ul li
{
    display: inline-block;
    width: 12%;
}
nav ul li a 
{
   
    margin-top: 5px;
    padding: 3%;
    text-align: center;
    background: #666666;
    color: #ff6633;
    border-radius: 3px;
    display: block;
  
}
nav ul li:hover a
{
    padding: 3%;
    
    background:  yellow;
    color: green;
   
}
#aside-left
{
    float: left;
    background: #666666 ;
    width: 20%;
    height: 98%;
    margin:  auto;
}
#aside-rigth
{
    float: right;
    background: #666666;
    width: 20%;
    height: 98%;
    margin: auto;
}
#contenido
{
    width: 100%;
    height: 600px;
    background: #666666;
    padding: 0.2%;
    margin:  auto;
   
}

article
{
    width: 80%;
    height: 98%;
    background:   #ff6633;
    color: #666666 ;
    font-family: Arial;
    text-align: center;
    
}

footer
{
    background: #666666 ;
    margin:auto;
    width: 100%;
    font-family:Times New Roman;
    font-style: italic;
    
}
